/* Universal */
html {
	font-family: "Roboto Mono";
}

/* Navigation Bar Div */

.rgbWrapper {
	background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
	background-size: 1800% 1800%;

	-webkit-animation: rainbow 30s ease infinite;
	-z-animation: rainbow 30s ease infinite;
	-o-animation: rainbow 30s ease infinite;
	  animation: rainbow 30s ease infinite;}

	@-webkit-keyframes rainbow {
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}
	@-moz-keyframes rainbow {
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}
	@-o-keyframes rainbow {
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
	}
	@keyframes rainbow { 
		0%{background-position:0% 82%}
		50%{background-position:100% 19%}
		100%{background-position:0% 82%}
}

#navBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navBarItem-left {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

li.navBarItem-left:hover {
	background-color: #313131;
}

.navBarItem-right {
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

li.navBarItem-right:hover {
	background-color: #313131;
}

a.navBarLogo {
	font-weight: bold;
	color: white;
}

a.navBarItemLink {
	color: white;
}

a.navBarItemLink:visited {
	color: white;
}

/* Top Section */
#topSection {
	margin: 10px;
}

/* Song Info Section */
#currentlyPlaying {
	margin: 10px;
}

#songInfo {
	display: inline-block;
	margin-left: 10px;
}

#albumImg {
	width: 200px;
	height: 200px;
	border: solid;
	display: inline-block;
	vertical-align: top;
}

#albumTitle {
	margin-top: -20px;
}

#artistNames {
	margin-bottom: 30px;
}

#spotifyListenLink {
    font-size: 20px;
    font-weight: bold;
    margin-top: 300px;
    color: #465d5d;
}